<app-header activeURL="account"></app-header>

<div class="d-flex" id="wrapper" [ngClass]="toggle ? 'toggled' : ''">
	<!-- Sidebar -->
	<div class="bg-light border-right" id="sidebar-wrapper">
		<ul class="nav flex-column list-group">
			<li class="nav-item">
			   <a class="nav-link list-group-item-action" href="/accounts">Get All Accounts</a>
			</li> 
			<li class="nav-item">
			   <a class="nav-link list-group-item-action btn-info active" href="/account">Create New Account</a>
			</li>
		</ul>
	</div>


		    <!-- /#sidebar-wrapper -->

		    <!-- Page Content -->
		    <div id="page-content-wrapper">
		      <div class="container-fluid">
				<button class="btn btn-sm btn-info" id="menu-toggle" (click)="clickEvent()">Toggle Menu</button>				
		      </div>
					<br/>
					<div class="container">
						<div class="card">
								<div class="card-header">
									 <strong><i class="fa fa-plus-circle fa-lg"></i> Account</strong>
								</div>
								<form id="submitUserForm" class="form-horizontal" [formGroup]="accountForm" autocomplete="off">
									<input id="id" name="id" type="hidden" value="">
									<div class="card-body">
										<div class="row">
											 <label class="col-2 control-label">Account Name : </label>
											 <div class="col-3 mb-2">
												 <input id="accountName" name="accountName" [formControl]="accountName" placeholder="Enter Account Name"
														class="form-control" required="true" type="text" value="" 
														[ngClass]="{ 'is-invalid': submitted && f.accountName.errors }" />
											 </div>
											 <div class="col-6">
												 <p class="text-danger" *ngIf="submitted && f.accountName.errors?.notValidInput; else requiredNameError">
													{{f.accountName.errors.notValidInput}}
												</p>
												<ng-template class="text-danger" #requiredNameError>
													<p *ngIf="submitted && f.accountName.errors">
														Account Name is Required.
													</p>
												</ng-template>												
											 </div>
										 </div>
										 <div class="row">
 											 <label class="col-2 control-label">Account Type : </label>
 											 <div class="col-3 mb-2">
													 <select id="accountType" name="accountType" [formControl]="accountType" 
													       class="form-control" size="0" [ngClass]="{ 'is-invalid': submitted && f.accountType.errors }">
														<option value="">Select One</option>
														<option value="Savings">Savings</option>
														<option value="Current">Current</option>
                    								</select>
 											 </div>
 											 <div class="col-3">
												<p class="text-danger" *ngIf="submitted && f.accountType.errors">
													Account Type is Required.
												</p>
 											 </div>
 										 </div>
										 <div class="row">
 											 <label class="col-2 control-label">Amount : </label>
 											 <div class="col-3 mb-2">
												  <input id="amount" class="form-control" type="number" placeholder="Enter Account Amount"
												  [ngClass]="{ 'is-invalid': submitted && f.accountAmount.errors }"
												       [formControl]="accountAmount" />
 											 </div>
 											 <div class="col-6">
												<p class="text-danger" *ngIf="submitted && f.accountAmount.errors?.notValidInput; else requiredAmountError">
													{{f.accountAmount.errors.notValidInput}}
												</p>
												<ng-template class="text-danger" #requiredAmountError >
													<p *ngIf="submitted && f.accountAmount.errors">Account Amount is Required.</p>
												</ng-template>
 											 </div>
 										 </div>
									</div>
									<div class="card-footer text-center">
										<button class="btn btn-sm btn-secondary" type="button" (click)="gotoWelcome()" value="Cancel">
											<i class="fa fa-times-circle"></i> Cancel
										</button>&nbsp;
										<button class="btn btn-sm btn-dark" type="reset" value="Reset" *ngIf="!editAccount">
											<i class="fa fa-refresh"></i> Reset
										</button>
										<button class="btn btn-sm btn-dark" type="button" (click)="ngOnInitFormBuilderForUpdate(editAccount)"  value="Reset" *ngIf="editAccount">
											<i class="fa fa-refresh"></i> Reset
										</button>
										&nbsp;
										<button class="btn btn-sm btn-info" type="button" (click)="saveAccountData()" value="Save" *ngIf="!editAccount">
											<i class="fa fa-save"></i> Save Changes
										</button>
										<button class="btn btn-sm btn-info" type="button" (click)="updateAccountData()" value="Save" *ngIf="editAccount">
											<i class="fa fa-save"></i> Update Changes
										</button>
									</div>
								</form>
						</div>
					</div>
		    </div>
		    <!-- /#page-content-wrapper -->
		  </div>

<app-footer className="fixed-bottom"></app-footer>


