<app-header activeURL="user"></app-header>
<div class="d-flex" id="wrapper" [ngClass]="toggle ? 'toggled' : ''">
	<!-- Sidebar -->
	<div class="bg-light border-right" id="sidebar-wrapper">
		<ul class="nav flex-column list-group">
			<li class="nav-item">
			  <a class="nav-link list-group-item-action" href="/users">Get All Users</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link list-group-item-action" href="/user">Create New User</a>
			</li>
		</ul>
	</div>


	<!-- /#sidebar-wrapper -->

	<!-- Page Content -->
	<div id="page-content-wrapper">
		<div class="container-fluid">
		<button class="btn btn-sm btn-info" id="menu-toggle" (click)="clickEvent()">Toggle Menu</button>				
		</div>
		<br/>
		<div class="container">
			<div class="card">
				<div class="card-header">
					<strong><i class="fa fa-lock fa-lg"></i> Change Password</strong>
				</div>
				<form class="form-horizontal" [formGroup]="changePasswordForm" autocomplete="off">
				    <div class="card-body">
						<div class="row">
							<label class="col-2 control-label">Password : </label>
							<div class="col-3 mb-2">
								<input id="password" name="password" [formControl]="password" placeholder="Enter Password"
									class="form-control" type="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
							</div>
							<div class="col-6">
								<p class="text-danger" *ngIf="submitted && f.password.errors">
									Password is Required.
								</p>
							</div>
						</div>
						<div class="row" >
							<label class="col-2 control-label">Retype Password : </label>
							<div class="col-3 mb-2">
								<input id="repeatPassword" name="repeatPassword" [formControl]="repeatPassword" placeholder="Enter Re type Password"
									class="form-control" type="password" [ngClass]="{ 'is-invalid': submitted && f.repeatPassword.errors }">
							</div>
							<div class="col-6">
								<p class="text-danger" *ngIf="submitted && this.changePasswordForm.errors">
									Passwords are not matched
								</p>
								<p class="text-danger" *ngIf="submitted && f.repeatPassword.errors">
									Retype Password is Required.
								</p>									
							</div>
						</div>
						<div class="row">
							<label class="col-2 control-label">Encrypted : </label>
							<div class="col-3">
								<input id="encrypted" name="encrypted" [formControl]="encrypted" type="checkbox"/>
							</div>
							<div class="col-6">										
							</div>
						</div>
						<div class="card-footer text-center">
							<button class="btn btn-sm btn-secondary" type="button" (click)="gotoWelcome()" value="Cancel">
								<i class="fa fa-times-circle"></i> Cancel
							</button>&nbsp;
							<button class="btn btn-sm btn-dark" type="reset" value="Reset">
								<i class="fa fa-refresh"></i> Reset
							</button>&nbsp;
							<button class="btn btn-sm btn-info" type="button" (click)="changePassword()" value="Save">
								<i class="fa fa-save"></i> Save Changes
							</button>
							
						</div>
					</div>
				</form>
				
			</div>
		</div>				
	</div>
	<!-- /#page-content-wrapper -->
	<ngx-spinner name="spinner"></ngx-spinner>
	</div>

<app-footer className="fixed-bottom"></app-footer>
